
/* CSS Document */



/**
* Importing necessary  Styles.
**/
/*---- Fonts ----- */
@import url('../fonts/avenir/demo.css');




/*______________________ Global Perfix ___________________*/
* {box-sizing: border-box;}
body {
 font-family:"Avenir LT W01_65 Medium1475532";
 color:rgba(0,0,0,0.7);
 font-size: 20px;
 position: relative;
 margin: 0;
}
html,body,.main-page-wrapper {height: 100%;position: relative;}
h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
h1 {color: #000000; font-size: 52px;}
p {line-height: 25px;}
ul {list-style-type: none;}
body a {text-decoration: none;color: #8890a3; display: inline-block;}
a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
img {max-width: 100%; display: block;}
button {border:none;outline: none;box-shadow: none;display: block; padding: 0;cursor: pointer;}
button:focus {outline: none;}
input,textarea {outline: none; box-shadow: none;transition: all 0.3s ease-in-out;}
/*________________________ Global Style _____________________*/
.main-body-wrapper {
  position: relative;
  top:45%;
  transform: translateY(-50%);
  text-align: center;
}
.main-body-wrapper .logo {margin: 0 auto;}
.main-body-wrapper h1 {
  letter-spacing: 3.6px;
  font-weight: normal;
  padding: 85px 0 25px 0;
}
.main-body-wrapper p {padding: 0 0 50px 0;}
.main-body-wrapper form {
  width: 650px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
.main-body-wrapper form input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 30px;
  padding: 0 180px 0 30px;
  font-size: 17px;
  color: #9d9d9d;
}
.main-body-wrapper form button {
  position: absolute;
  top:0;
  right: 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 180px;
  height: 100%;
  color: #fff;
  border-radius: 0 30px 30px 0;
      background: linear-gradient(120deg, #68e4f1 0%, #66a6ff 100%); 
}
.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  left:0;
  bottom: 50px;
}
.footer ul li {display: inline-block;margin: 0 3px;}
.footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border:1px solid #e7e7e7;
  border-radius: 50%;
  color: #d4dce7;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.footer ul li a:hover {
  background: #66a6ff;
  color: #fff;
}
.footer p {font-size: 16px;padding: 30px 0 0 0;}





@media (max-width: 991px) {
  .main-body-wrapper {top:0;transform: none;padding: 50px 0;}
} 
/*(max-width: 991px)*/

@media (max-width: 767px) {
  .main-body-wrapper form {width: 90%;}
  .footer {position: relative;padding:100px 0 40px;}
}
/*(max-width: 767px)*/

@media (max-width: 575px) {
  .main-body-wrapper h1 {
    letter-spacing: 1.75px;
    font-size: 35px;
    padding: 50px 0 20px 0;
  }
  .main-body-wrapper form button {width: 100px; letter-spacing: initial;font-size: 14px;}
  .main-body-wrapper form input {padding-right: 100px;font-size: 15px;padding-left: 15px;}
}